.nav{
   width:20vw;
    background-color: black;
    height: 97vh;
    padding:3vh;
}
.nav li{
    list-style: none;
    text-align: center;
   margin-left: -3vw;
}
.nav a{
    color: #fff;
    text-decoration: none;
    line-height: 10vh;
    text-align: center;
}